body{
    background-color: rgb(46, 3, 145);
}
    

header{
    background-color:rgb(167, 197, 252);
    padding: 20px 0px;
    box-shadow: 12px 14px rgb(red, green, blue);}
ul,a{
    list-style:none;
    margin: 0px;
    padding: 0px;
    text-decoration:none;
}
nav,ul{
    display: flex;
    justify-content: center;
}
nav ul li a{
    color: azure;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;}
    nav ul li a:hover {background-color: rgb(167, 197, 252)}

.movietype{
    display: inline-block;
}
.hello{background-color:rgb(167, 197, 252);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
width: 150px;
height:150px;
border: solid;
border-width: 50px;
padding-right: 30px;
padding-left: 30px;
padding-top: 30px;
padding-bottom: 30px;
display: inline-block;
position: relative;
left:100px;}



.pen{background-color: rgb(167, 197, 252);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
width: 150px;
height:150px;
border: solid;
border-width: 50px;
padding-right: 30px;
padding-left: 30px;
padding-top: 30px;
padding-bottom: 30px;
margin-top: 30px;
display: inline-block;
position: relative;
left:450px;
bottom:650px;

}


.book{background-color: rgb(167, 197, 252);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
width: 150px;
height:150px;
border: solid;
border-width: 50px;
padding-right: 30px;
padding-left: 30px;
padding-top: 30px;
padding-bottom: 30px;
display: block;
position:relative;
left:750px;
bottom:310px;}


.table{
    background-color: rgb(167, 197, 252);
    ul>li{list-style-type: none;
    display: inline-block;
padding: 20px;
font-size: 50px;}
font-family: Georgia, 'Times New Roman', Times, serif;
align-content: space-between;
.f{background-color: aliceblue;
position: fixed;
bottom: 0px;}}